body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #ec9bf7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

#main-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 10px;
}

.button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ec9bf7;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: #d68ae2;
}

#output {
    margin-top: 20px;
    font-size: large;
    color: #333333;
}