body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #ec9bf7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}